.home {
    width: 80%;
    margin: auto;

    .content {
        width: 70%;
        margin: auto;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        padding: 20px 10px 0;
        text-align: center;
        margin-top: 30px;
        background-color: #d9d9d9;

        h3 {
            padding: 10px;
        }

        fieldset {
            #email {
                padding: 5px 15px;
            }
            
            #password {
                padding: 0 5px;
            }

            input[type=password], input[type=email]{
                padding-right: 10px;
            }

            button[type=submit] {
                background-color: #4CAF50;
                cursor: pointer;
                width: 10rem;
            }

            #login {
                padding: 3px 0 0 15px;
            }
        }

        p {
            margin: 5px 10px 10px 0;
        }

        a {
            color: #000066;
        }
    }
}


button[type=submit]:hover {
    background-color: #45a049;
}

input[type=password], input[type=email], input[type=text], button[type=submit] {
    width: 13rem;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media only screen and (max-width: 923px) {
    .home {
        width: 100%;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .home {
        .content {
            width: 100%;
        }
    }
}
