.home {
    width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 120px;
 
    .content {
        width: 40rem;
        margin: auto;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        padding: 30px 0 30px 0;
        margin-top: 30px;


        .login_content {
            width: 15rem;
            margin: auto;
            text-align: left;

            fieldset {
                input[type=password], input[type=email], button[type=submit] {
                    width: 100%;
                    padding: 6px 0;
                    margin: 4px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                }

                input[type=password], input[type=email]{
                    text-indent: 10px; 
                }
            }

            #google_login {
                margin: -13px 0 30px 0;
            }
        }
        
        a {
            font-size: 19px;
        }
    }
}


@media only screen and (max-width: 1038px) {
    .home {
        width: 100%;
    }
}

@media only screen and (max-width: 664px) {
    .home {
        margin-top: 10px;

        h1, p {
            text-align: start;
            padding-left: 10px;
        }

        #register_text p {
            text-align: center;
        }

        .content {
            width: 100%;
        }
    }
}
