.home {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);

    text-align: center;
 
    .content {
        width: 40rem;
        margin: auto;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        padding: 30px 0 30px 0;
        margin-top: 30px;


        .login_content {
            width: 15rem;
            margin: auto;
            text-align: left;

            fieldset {
                input[type=password], input[type=email], button[type=submit] {
                    width: 100%;
                    padding: 6px 0;
                    margin: 4px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                }
            }


            #google_login {
                margin: 15px 0 30px 0;
            }
        }
        
        a {
            font-size: 19px;
        }
    }
}


@media only screen and (max-width: 1207px) {
    .home {
        width: 100%;
        padding-left: 15px;
        text-align: left;

        #register_text {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 664px) {
    .home {
        .content {
            width: 100%;
        }
    }
}
